<div #modalEditSubject class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle">Editar asignatura</h5>
                <button type="button" class="btn-close" (click)="hide()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editSubjectForm" class="row g-3">
                    <div class="col-12">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" type="text" placeholder="Nombre de la asignatura" formControlName="subject_name">
                        @if (subject_name.invalid && (subject_name.dirty || subject_name.touched)) {
                            <div class="invalid-feedback d-block">
                                @if (subject_name.hasError("required")) {Introduzca un nombre para la asignatura}
                                @if (subject_name.hasError("maxlength")) {Nombre demasiado largo}
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="hide()" type="button" class="btn btn-danger">Cancelar</button>
                @if (isEditing) {
                    <button class="btn btn-success m-1" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Editando...
                    </button>
                } @else {
                    <button (click)="editSubject()" type="button" class="btn btn-success">Editar</button>
                }
            </div>
        </div>
    </div>
</div>
